<div id="<%= dom_id cliente %>">
  <p>
    <strong>Nombre:</strong>
    <%= cliente.nombre %>
  </p>

  <p>
    <strong>Paterno:</strong>
    <%= cliente.paterno %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= cliente.sexo %>
  </p>

</div>
