<div id="<%= dom_id cuentum %>">
  <p>
    <strong>Nocuenta:</strong>
    <%= cuentum.nocuenta %>
  </p>

  <p>
    <strong>Saldo:</strong>
    <%= cuentum.saldo %>
  </p>

  <p>
    <strong>Id cliente:</strong>
    <%= cuentum.cliente_id %>
  </p>

</div>
