<% content_for :title, "Editing cuentum" %>

<h1>Editing cuentum</h1>

<%= render "form", cuentum: @cuentum %>

<br>

<div>
  <%= link_to "Show this cuentum", @cuentum %> |
  <%= link_to "Back to cuenta", cuenta_path %>
</div>
